@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "PoppinsMedium";
  height: 100vh;
  width: 100vw;
}

@font-face {
  font-family: "PoppinsMedium";
  src: url("./fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "PoppinsSemiBold";
  src: url("./fonts/Poppins-SemiBold.ttf");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.activeNavLink li {
  --tw-bg-opacity: 1;
  background-color: rgb(199 210 254 / var(--tw-bg-opacity));
  color: rgb(55 48 163 / var(--tw-bg-opacity));
}